.about-bg {
  background-image: url(../../Img/backgrounds/About1i.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}
.about-container {
  gap: 0px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.title01 {
  padding: 0 40px 0 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.title01::after {
  content: "";
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-self: center;
  width: 45%;
  height: 4px;
  background-color: var(--co-2);
}
.texto {
  padding: 0 40px 0 40px;
  display: grid;
  max-width: 50ch;
  gap: 100px;
}
.texto-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/*---------------- SOBRE RESPONSIVE ----------------*/
@media (max-width: 1100px) {
  .texto {
    gap: 50px;
  }
}
@media (max-width: 800px) {
  .texto {
    gap: 25px;
  }
}
@media (max-width: 600px) {
  .texto-container {
    grid-template-columns: 1fr;
  }
}
