.spaceship-bg {
  background-image: url(../../Img/backgrounds/spaceship.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.spaceship-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 100px;
  padding: 75px 100px;
}
.spaceship-container::after {
  content: "";
  position: absolute;
  background-color: var(--co-0);
  width: 65px;
  height: 2px;
  top: 50%;
}
.spaceship-img {
  object-fit: cover;
  height: 500px;
}
.spaceship-content {
  display: grid;
  align-items: stretch;
  background-color: var(--co-5);
  border: 3px solid var(--co-0);
  padding-bottom: 20px;
}
.spaceship-content h1 {
  padding: 0 5px 0 5px;
  text-align: center;
  margin-top: -125px;
  margin-bottom: 25px;
}
.spaceship-content p {
  padding: 0 5px 0 5px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.spaceship-content p:nth-child(3) {
  border-bottom: 1px solid var(--co-2);
  padding-bottom: 30px;
}
.spaceship-content:nth-child(3) {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 600px;
}
.spaceship-content-detais {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 100px;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}
.spaceship-content-detais p::after {
  content: "";
  position: absolute;
  top: 10px;
  margin-left: 50px;
  background: var(--co-2);
  height: 75%;
  width: 1px;
}
.spaceship-content-detais p {
  white-space: nowrap;
  margin: 0;
  align-self: center;
}
.spaceship-content-detais-extra {
  display: grid;
  gap: 10px;
  align-self: center;
}
.spaceship-content-detais-extra span {
  display: block;
  text-align: end;
  margin-right: 10px;
}
.btn2 {
  border: none;
  padding: 15px 20px;
  background-color: var(--co-5);
  border: 2px solid var(--co-0);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}
/*---------------- SPACESHIP RESPONSIVE ----------------*/
@media (max-width: 1515px) {
  .spaceship-content-detais {
    gap: 75px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }
  .spaceship-content h1 {
    margin-top: -105px;
  }
}
@media (max-width: 1365px) {
  .spaceship-content-detais {
    gap: 65px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 1200px) {
  .spaceship-content-detais {
    gap: 45px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }
  .spaceship-content-detais p::after {
    margin-left: 40px;
  }
}
@media (max-width: 1125px) {
  .spaceship-content-detais {
    gap: 25px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }
  .spaceship-content-detais p::after {
    margin-left: 20px;
  }
}
@media (max-width: 1110px) {
  .spaceship-content-detais {
    gap: 25px;
  }
  .spaceship-img {
    object-fit: cover;
    height: 250px;
  }
  .spaceship-content-detais-extra {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
  }
  .spaceship-content-detais p::after {
    display: none;
  }
  .spaceship-content-detais-extra span {
    text-align: center;
  }
  .spaceship-content-detais p:nth-child(1)::after {
    content: "";
    display: block;
    margin-left: 110px;
    background: var(--co-2);
    height: 75%;
    width: 1px;
  }
}
@media (max-width: 1015px) {
  .spaceship-content h1 {
    margin-top: -75px;
  }
}
@media (max-width: 850px) {
  .spaceship-container {
    gap: 50px;
    padding: 75px 100px;
  }
  .spaceship-content h1 {
    margin-top: -65px;
  }
}
@media (max-width: 770px) {
  .spaceship-container::after {
    display: none;
  }
  .spaceship-container {
    gap: 25px;
  }
}
@media (max-width: 750px) {
  .spaceship-container {
    grid-template-columns: 1fr;
  }
  .spaceship-content:nth-child(3) {
    grid-column: 1;
    justify-self: center;
  }
}
@media (max-width: 615px) {
  .spaceship-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 360px) {
  .spaceship-container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
