.font-1-xs,
.font-3-xs {
  font: 400 1.125rem/1.35 "Orbit", sans-serif;
}
.font-2-xs {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-1-s {
  font: 400 4rem/1.43 "Exo 2", sans-serif;
}
.font-2-s {
  font: 400 1.3rem/1.5 "Exo 2", sans-serif;
  letter-spacing: 2px;
}
.font-3-s {
  font: 400 1rem/1.5 "Exo 2", sans-serif;
  letter-spacing: 4px;
}

.font-4-s {
  font: 600 1.3rem/1.5 "Exo 2", sans-serif;
  letter-spacing: 4px;
}
.font-5-s {
  font: 500 1.3rem/1 "Exo 2", sans-serif;
  text-transform: uppercase;
}
.font-1-m {
  font: 400 6rem/1.35 "Rajdhani", sans-serif;
}
.font-2-m {
  font: 500 3.5rem/1.15 "Orbit", sans-serif;
}
.font-3-m {
  font: 400 2.5rem/1 "Orbit", sans-serif;
  word-break: break-all;
}
.font-4-m {
  font: 400 1.5rem/1 "Orbit", sans-serif;
}
.font-5-m {
  font: 400 1.125rem/1 "Orbit", sans-serif;
}
.font-1-m-b {
  font: 600 1.75rem/1.5 "Rajdhani", sans-serif;
}
.font-1-c {
  font: 600 10rem/1 "Space Mono", sans-serif;
  letter-spacing: 35px;
}
@media (max-width: 1312px) {
  .font-1-m {
    font-size: 5rem;
  }
  .font-2-m {
    font-size: 2.5rem;
  }
  .font-1-s {
    font-size: 3rem;
  }

  .font-2-s {
    font-size: 1.125rem;
  }
  .font-3-s {
    font-size: 0.825rem;
  }
  .font-4-s {
    font-size: 1.2rem;
  }
  .font-3-m {
    font-size: 2rem;
  }
  .font-1-c {
    font-size: 9rem;
  }
  .font-5-s {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .font-1-m {
    font-size: 4.5rem;
  }
  .font-2-m {
    font-size: 2.225rem;
  }
  .font-1-s {
    font-size: 2.5rem;
  }
  .font-1-xs,
  .font-3-xs {
    font-size: 1rem;
  }

  .font-2-s {
    font-size: 0.9rem;
  }
  .font-3-s {
    font-size: 0.725rem;
  }
  .font-4-s {
    font-size: 1.1rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 1000px) {
  .font-1-m {
    font-size: 4rem;
  }
  .font-1-s {
    font-size: 2.4rem;
  }
}
@media (max-width: 905px) {
  .font-2-m {
    font-size: 2rem;
  }
  .font-4-m {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .font-3-m {
    font-size: 1.525rem;
  }
  .font-1-c {
    font-size: 8rem;
  }
  .font-5-s {
    font-size: 0.85rem;
  }
  .font-4-m {
    font-size: 1.125rem;
  }
  .font-5-m {
    font-size: 1rem;
  }
}
@media (max-width: 725px) {
  #earth .font-3-m {
    font-size: 1.225rem;
  }
  #earth .font-1-c {
    font-size: 6rem;
    letter-spacing: 15px;
    word-break: break-all;
  }
  #earth .font-4-m {
    font-size: 1.125rem;
  }
  #earth .font-5-m {
    font-size: 1rem;
  }
}
@media (max-width: 615px) {
  .font-3-m {
    font-size: 1.225rem;
  }
  .font-1-c {
    font-size: 6rem;
    letter-spacing: 15px;
    word-break: break-all;
  }

  .font-4-m {
    font-size: 1.125rem;
  }
  .font-5-m {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .font-2-m {
    font-size: 1.5rem;
  }
  .font-2-xs {
    font-size: 0.9rem;
  }
}
@media (max-width: 470px) {
  #earth .font-1-c {
    font-size: 4rem;
  }
}
@media (max-width: 450px) {
  .font-1-m {
    font-size: 3rem;
  }
  .font-3-xs {
    font-size: 0.7rem;
  }
}
@media (max-width: 395px) {
  .font-3-m {
    font-size: 1.125rem;
  }
  .font-1-c {
    font-size: 5rem;
    letter-spacing: 15px;
    word-break: break-all;
    letter-spacing: 5px;
  }
  .font-4-m {
    font-size: 1rem;
  }
  .font-5-m {
    font-size: 0.9rem;
  }
}
@media (max-width: 372px) {
  #earth .font-1-c {
    font-size: 3rem;
  }
}
@media (max-width: 323px) {
  .font-3-m {
    font-size: 1rem;
  }
  .font-1-c {
    font-size: 4rem;
  }
  .font-4-m {
    font-size: 0.9rem;
  }
  .font-5-m {
    font-size: 0.8rem;
  }
}
@media (max-width: 370px) {
  .font-1-s {
    font-size: 2rem;
  }
  .font-1-m {
    font-size: 2.5rem;
  }
  .font-1-xs {
    font-size: 0.825rem;
  }
  .font-3-xs {
    font-size: 0.6rem;
  }
}
